.readerroot { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100vh; 
    overflow: auto; 
    z-index: 500; 
    text-align: left;
    background-color: #F1F1F1; 
    color: #000000;
}

.readerroot.dark {
    background-color: #1f1f1f;
    color: #FFFFFF;
}

.readerroot a, 
.readerroot a:hover, 
.readerroot a:active, 
.readerroot a:visited {
    color: inherit;
}

body > *:not(.readerroot) {
    display: none;
} 

.readercontent { 
    width: 100%; 
    max-width: 800px; 
    margin: auto; 
    padding: 2em; 
    font-family: 'Libre Baskerville', serif; 
    background-color: #FFFFFF; 
}

.readerroot.dark .readercontent {
    background-color: #000000;
}

.readercontent > * { 
    margin-bottom: 1em; 
}

.readercontent > h1, 
.readercontent > h2, 
.readercontent > h3, 
.readercontent > h4, 
.readercontent > h5, 
.readercontent > h6 { 
    margin-top: 1em; 
    margin-bottom: .5em; 
    text-transform: uppercase; 
    font-family: 'Bebas Neue', sans-serif; 
}

.readercontent img { 
    display: block; 
    margin: 1em auto; 
    max-width: 100%; 
}

.readercontent table img,
.readercontent li img,
.readercontent a img {
    display: inline-block;
    margin: 0 6px;
    max-width: 100%;
}

.readercontent table {
    border-collapse: collapse;
}
.readercontent tr {
    border-bottom: 1px solid #ccc;
    text-align: left;
}
.readercontent th,
.readercontent td {
    padding: 6px;
}

.readerhf { 
    width: 100%; 
    max-width: 800px; 
    height: 60px; 
    margin: auto; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    align-content: center; 
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 18px; 
    line-height: 32px; 
}

.readerhf .fs,
.readerhf .colw,
.readerhf .ld { 
    margin-left: .5em; 
    margin-right: .5em; 
}

.readerhf .fns *,
.readerhf .colw *,
.readerhf .ld * {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
}
.readerhf .fns :first-child,
.readerhf .colw :first-child,
.readerhf .ld :first-child {
    border-bottom-left-radius: 6px; 
    border-top-left-radius: 6px; 
}
.readerhf .fns :last-child,
.readerhf .colw :last-child,
.readerhf .ld :last-child {
    border-bottom-right-radius: 6px; 
    border-top-right-radius: 6px; 
}


.readerhf .fns .inc { }

.readerhf .fns .dec { 
    font-size: 12px;
}

.readerhf .colw .cws { }

.readerhf .colw .cwm { }

.readerhf .colw .cwl { }

.readerhf .ld * { 
    width: 44px; 
    font-size: 12px;
}

